log*
temp*
weights*
sample_wsi*
gdc-client*
test-c16/
**.ipynb_checkpoints**
**__pycache__**
*.ipynb
*.zip
hyperparameter_search/
test.ipynb
*.pth
*.log
*.json
wandb/
pt_files
sample_wsi/
survival_analysis/
analyzer_utils/
FLOPS/
example_aggregator_weights/
docs/
train_camelyon16.py
train_tcga.py
outputs/
results/
wsi_features_extractor/models/ckpts/
wsi_features_extractor/csv/*
wsi_features_extractor/scripts/logs/*
wsi_features_extractor/scripts/run_extract_features_fp_*.sh
wsi_features_extractor/scripts/run_create_patches_fp_*.sh
